:root {
    --border-thick: 5px solid var(--color-contrast);
    --border-thin: 1px solid var(--color-contrast);
    --border-faint: transparent;

    --grid-size: min(600px, 95vw);

    --size-cell: 2.8rem;
    --size-pencil: calc(var(--size-cell) / 3);
}

@media (max-width: 560px) {
    :root {
        --size-cell: 1.8rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: 'Open Sans', system-ui, sans-serif;
    font-weight: inherit;
}

body {
    display: grid;
    place-content: center;
    gap: 2rem;
    height: 100svh;
    background-color: var(--color-primary);
    color: var(--color-contrast);
}

#github,
#theme {
    --button-size: 1.5rem;
}

#github {
    position: fixed;
    top: 1rem;
    left: 1rem;
    transition: 180ms;
    font-size: var(--button-size);

    &:hover {
        transform: scale(1.2) rotate(-15deg);
    }
}

button#theme {
    position: fixed;
    padding: 0;
    top: calc(1rem + 5px);
    right: 1rem;
    height: var(--button-size);
    width: var(--button-size);

    & > svg {
        height: 100%;
        width: 100%;
    }
}

.difficulty {
    display: flex;
    justify-content: center;

    & > .selected {
        text-decoration: underline;
        text-underline-offset: 0.4rem;
    }

    & > :not(.selected) {
        color: color-mix(in srgb, var(--color-secondary), grey);
    }
}

#new-game,
#theme,
:is(dialog, .difficulty) button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    justify-self: center;
    padding: 0.5rem 0.75rem;

    @media (pointer: fine) {
        &:hover {
            background-color: var(--color-hover);
            cursor: pointer;
        }
    }
}

#grid {
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    grid-template-rows: repeat(27, 1fr);
    aspect-ratio: 1 / 1;
    width: var(--grid-size);
    border: var(--border-thick);
    font-weight: 200;
}

.box {
    border: var(--border-thin);
    display: grid;
    grid-area: span 9 / span 9;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}

.cell {
    display: grid;
    grid-area: span 3 / span 3;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    position: relative;

    & div {
        pointer-events: none;
        user-select: none;
        display: grid;
        place-content: center;
    }
}

.value-entry {
    border: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: transparent;

    @media (pointer: fine) {
        &:hover {
            background-color: var(--color-hover);
            cursor: pointer;
        }
    }
}

.number {
    border: var(--border-thin);
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    position: absolute;
    font-size: var(--size-cell);
    z-index: 100;

    &.original {
        font-weight: 600;
    }
}

.pencils {
    display: grid;
    grid-area: span 3 / span 3;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    font-size: var(--size-pencil);
    font-weight: 400;
    z-index: 10;

    & > div {
        grid: span 1 / span 1;
    }
}

.controls {
    --gap: 10px;

    margin-inline: auto;
    display: flex;
    justify-content: center;
    gap: var(--gap);

    & > * {
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 1fr 1fr;
        gap: var(--gap);
    }

    & > .values {
        grid-template-columns: repeat(5, 1fr);
    }

    & > .misc {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Visually hidden for custom boxes */
    & input {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
}

label,
.controls button {
    --button-size: 2rem;

    user-select: none;
    background-color: transparent;
    border: none;
    width: var(--button-size);
    height: var(--button-size);
    display: grid;
    place-content: center;

    & > svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    @media (pointer: fine) {
        &:hover {
            background-color: var(--color-hover);
            cursor: pointer;
        }
    }
}

.completed {
    text-decoration: line-through;
    color: var(--color-secondary);
}

label:has(input:checked) {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.divider {
    border: 1px solid var(--color-secondary);
}

.highlight {
    background-color: var(--highlight-current);
}

.conflict {
    animation: 1.2s conflict;
}

@keyframes conflict {
    from {
        background-color: var(--highlight-conflict);
    }

    to {
        background-color: var(--highlight-current);
    }
}

#congratulations {
    background-color: transparent;
    border: none;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    &::backdrop {
        background-color: rgba(255, 255, 255, 0.384);
        backdrop-filter: blur(8px);
    }

    & > button:hover {
        background-color: color-mix(in srgb, var(--color-hover), grey);
    }
}

#close {
    font-size: 2rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
}
