:root {
    --border-thick: 5px solid black;
    --border-thin: 1px solid black;
    --border-faint: transparent;
    --background-hover: lightgray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    height: 100svh;
}

#grid {
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    grid-template-rows: repeat(27, 1fr);
    aspect-ratio: 1 / 1;
    width: 600px;
    max-width: 95vw;
    border: var(--border-thick);
}

.box {
    border: var(--border-thin);
    display: grid;
    grid-area: span 9 / span 9;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}

.cell {
    display: grid;
    grid-area: span 3 / span 3;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    position: relative;

    & div {
        pointer-events: none;
        user-select: none;
        display: grid;
        place-content: center;
    }
}

.value-entry {
    border: var(--border-thin);
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: transparent;

    &:hover {
        background-color: var(--background-hover);
        cursor: pointer;
    }
}

.number {
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    position: absolute;
    font-size: 3rem;
}

.pencils {
    display: grid;
    grid-area: span 3 / span 3;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    font-size: 1rem;
    z-index: 10;

    & > div {
        grid: span 1 / span 1;
    }
}
